/* Anti-copy utility */
.no-copy {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* Admin UI Toggle */
.admin-only {
  display: none !important;
}

body.admin-mode .admin-only {
  display: flex !important;
}